/* GENERALE */
* {
  padding: 0;
  margin: 0;
}

div{
}

img{
}

ul{
  margin: 15px;
}

h1{

  padding-top: 10px;
  font-size: 60px;
}


main, footer{
  padding-left: 7px;
  padding-right: 7px;
}

/* ! MODIFICATO IN style2.css */
.container{
  padding: 0 15% 0 15%;
  padding-top: 180px;
}


/* ! MODIFICATO IN style2.css */
/* HEADER */
header {
  width: 100%;
  height: 180px;
  background-image: url(../img/pattern.png);
  background-color: #4ea0ff;
  background-position: top;
  background-attachment: fixed;
  position: fixed;
}

/* ! MODIFICATO IN style2.css */
.logo{
  /* padding-left: 7px; */
  width: 250px;
  height: 250px;
  padding: 0 15% 0 15%;
}



/* MAIN */
.grey-text{
  color: #909090;
}

.grey-text>span {
  color: #26abe5;
}

#date{
  padding-bottom: 20px;
}

.biography {
  font-size: 13px;
}

.description {
  padding-top: 10px;
}

.description>span {
  background-color: yellow;
}


/* tabella */
table{
  border-collapse: collapse;
  padding-right: 7px;
}

tr{
}

th{
  color: #ffffff;
  text-align: left;
}


th, td {
  width: 28%;

}

thead{
  background-color: #20a9e5;
}

.tr-sky{
  background-color: #b1e5f2;

}

.tr-white{
  background-color: #ffffff;

}

td{
padding: 5px;
}


/* FOOTER */
footer > *{ /*ad ogni elemento*/
  padding-top: 5px;
}